version: '3.8'
services:
  apache2-phpgl:
    image: mchauvel/php-pdo-mysql
    container_name: apache2-phpgl
    ports:
      - "${HOST_PORT}:80"
    volumes:
      - ${APPDATA_PATH}/phpgl/apache2/html:/var/www/html
      - ${APPDATA_PATH}/phpgl/apache2/php.ini:/etc/php5/apache2/php.ini
      - ${APPDATA_PATH}/phpgl/apache2/php5/cli/php.ini:/etc/php5/cli/php.ini
      - ${APPDATA_PATH}/phpgl/apache2/apache_logs:/var/log/apache2
    links:
      - mariadb-phpgl
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
    restart: always
    depends_on:
      - mariadb-phpgl

  mariadb-phpgl:
    image: mariadb:10.5
    container_name: mariadb-phpgl
    expose:
      - "3306"
    ports:
      - "3306:3306"  
    volumes:
      - mariadb_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: phpgl
      MYSQL_USER: pygl
      MYSQL_PASSWORD: ${PYGL_PASSWORD}  
    restart: always

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links:
      - mariadb-phpgl
    ports:
      - "9001:80"
    environment:
      PMA_HOSTS: mariadb-phpgl
    restart: always
    depends_on:
      - mariadb-phpgl
    container_name: phpmyadmin
    
volumes:
  mariadb_data:

networks:
  phpgl_network:
    external: 
      name: phpgl_default
