version: "2"
services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80' # Public HTTP Port
      - '443:443' # Public HTTPS Port
      - '${HOST_PORT}:81' # Admin Web Port

    volumes:
      - ${APPDATA_PATH}/nginx-proxy-manager/data:/data
      - ${APPDATA_PATH}/nginx-proxy-manager/letsencrypt:/etc/letsencrypt
